* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p {
	color: #39A2DB;
	font-family: 'Marck Script', cursive;
	font-size: 40px;
	margin: 25px 0;
}

body {
	background-color: #053742;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

div {
	width: 70%;
	margin: auto;
	padding: 50px;
	background-color: #16454f;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

a {
	color: #A2DBFA;
	font-family: 'Marck Script', cursive;
	font-size: 40px;
	text-decoration: none;
	display: inline-block;
	margin: 20px 0;
	border-bottom: 5px solid transparent;
	transition: 0.2s ease-in;

}

h1 {
	color: #E8F0F2;
	font-family: 'Marck Script', cursive;
	font-size: 45px;			
}

a:hover {
	border-bottom-color: #A2DBFA;
}